<div class="row" style="margin: 15px;" ng-if="!ctrl.model.otimized">
  <div class="col-md-4">
    <input type="file" ngf-select ng-model="ctrl.model.file" accept=".json" />
  </div>
  <div class="col-md-4">
    <button ng-disabled="ctrl.model.file === undefined || ctrl.model.file === null || ctrl.model.disableButton"
        type="button" class="btn btn-primary" ng-click="ctrl.sendFile()">Otimizar</button>
  </div>
</div>

<div style="margin: 15px;" ng-if="ctrl.model.otimized">
  <div class="row" style="margin: 15px;">
    <div class="col-md-4 form-group">
      <label for="plane">Aeronave:</label>
      <select class="form-control" id="plane" ng-model="ctrl.model.plane">
        <option ng-repeat="name in ctrl.model.airplanesName">{{name}}</option>
      </select>
    </div>
    <div class="col-md-4 form-group">
      <div class="form-group">
        <label for="fail">Falha:</label>
        <select class="form-control" id="fail" ng-model="ctrl.model.fail">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <label for="time">Horário:</label>
      <input type="time" step="1" class="form-control" id="time" ng-model="ctrl.model.time" required />
    </div>
  </div>
  <div class=row style="margin: 15px;">
    <div class="col-md-1">
      <button ng-disabled="ctrl.model.disableButton" class="btn btn-primary"
          ng-click="ctrl.export()">Exportar</button>
    </div>
    <div class="col-md-offset-9 col-md-2">
      <div class="pull-right">
        <button ng-disabled="ctrl.model.disableButton" class="btn btn-primary"
            ng-click="ctrl.otimize()">Otimizar</button>
      </div>
    </div>
  </div>
  <iframe id="map" style="width: 1100px; height: 750px" ng-src="{{ctrl.model.src}}"></iframe>
</div>
